
<head>
  <link rel='text/stylesheet' href = './bootstrap-4.5.3/css/bootstrap.min.css'/>

</head>
<body style='background-color:light-grey;'>
  <a href="#" class='btn-primary'>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src ='bootstrap-4.5.3/js/bootstrap.js></script>
    <script src ='bootstrap-4.5.3\js\node_modules\jquery\dist\jquery.js'></script>
</body>
