{% extends 'base.html' %}

{% block content%}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style='position:absolute; width:100%; top:0; z-index:1;'>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Acute_Vision</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style='margin-left:auto;'>
        <li class="nav-item">
          <a href="./login/" class='btn btn-ghost' style='color:white;'>Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup/" class='btn btn-ghost' style='color:white;'>Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  >About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<center style='margin-top:11em;'><h3>Welcome In</h3><span style='font-family:Calibri;font-size:50px;'>Acute_Vision</span><center>

{% endblock %}
